body{
  background-image: url(https://i.pinimg.com/564x/49/76/27/497627c23f672d49334cf8d7aab552d1.jpg);
   /* object-fit: cover; */
  background-repeat: no-repeat;
  background-size: 100%;
  position: center center;
  
}